@media (min-width: 992px) {
    .person-utilities {
        display: none !important;
    }
 }

@media (max-width: 992px) and (min-width: 550px) {
    .person-buttons,
    .view-eye
    {
        display: none !important;
    }
 }

 @media (max-width: 550px) {
    .person-phone,
    .person-adress,
    .th-phone,
    .th-adress,
    .person-buttons
     {
        display: none !important;
    }

    .view-eye {
        display: inline-block;
    }
 }

 .my-nav-bar {
     list-style: none;
 }
