<div class="container">
    <h3 class="d-flex justify-content-center">Телефонная книга</h3>

    <nav class="navbar navbar-expand-sm bg-light navbar-dark d-flex flex-row-reverse">
        <ul class="navbar-nav">
            <button class="btn btn-primary">
                Экспорт
            </button>
        </ul>
        <ul class="navbar-nav">
            <button class="btn btn-primary mr-2 me-2">
                Импорт
            </button>
        </ul>
        <ul class="navbar-nav me-2">
            <button class="btn btn-primary">
                Добавить контакт
            </button>
        </ul>
    </nav>
    
    <router-outlet></router-outlet>


</div>


